@model LiveKart.Entities.Beacon
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}


<div id="masthead">
    <div class="container">
        <div class="masthead-pad">
            <div class="masthead-text">
                <div class="span4" style="margin: 0;">
                    <h1>
                        Add Beacons Via .csv</h1>
                </div>
            </div>
            <!-- /.masthead-text -->
        </div>
    </div>
</div>
<!-- /.container -->
<div id="content">
    <div class="container">
        <div class="row-fluid">
            @using (Html.BeginForm("Upload", "Beacon", FormMethod.Post, new { id = "newBeacons", @class = "form-horizontal" , enctype = "multipart/form-data"  }))
            {
            
                
                <div class="form-row row-fluid">
                    <div class="span12">
                        @Html.Label("Upload CSV", new { @class = "form-label span4" })
                        <div class="row-fluid span4">
                           <input type="file" id="file" name="file" />
                        </div>
                    </div>
                </div>  
                <div>
                    <div>
                        <div>
                            
                        </div>
                    </div>
                </div>
                                                                    
                <div class="row-fluid form-actions">
                    <div class="span12">
                        <input type="submit" value="Create" class="btn btn-large btn-primary" />
                        @Html.ActionLink("Cancel", "Index", 0, new { @class = "btn btn-large btn-secondary" })
                    </div>
                </div>
                
            }
        </div>
    </div>
</div>
@section JavaScript {
    <script type="text/javascript">
        $(window).load(function () {
            var mssg = "@ViewBag.AlertMessage";
            $('#newBeacons').ready(function () {
                if (mssg == "") {
                    return null;
                }
                else {
                    alert("@ViewBag.AlertMessage");
                }
                return false;
            });
        });
    </script>
}

