<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dev.livekart.altumsoft.com</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://54.244.225.33/msdeployagentservice</MSDeployServiceURL>
    <DeployIisAppPath>dev.livekart.altumsoft.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LiveKartEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LiveKart.Entities.LiveKartEntities, LiveKart.Entities" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Repository.Pattern.Ef6.DataContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Repository.Pattern.Ef6.DataContext, Repository.Pattern.Ef6" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LiveKartEntities-Web.config Connection String">
      <ParameterValue>Data Source=altumsoft.com;Initial Catalog=Klivekartdpd;Persist Security Info=True;User ID=sa;Password=1234qweR</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Repository.Pattern.Ef6.DataContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Repository.Pattern.Ef6.DataContext" />
  </ItemGroup>
</Project>